*{  margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
.menu{
    font:normal bolder 1em verdana, arial,sans-serif;
    background: rgba(13, 209, 243, 0.89);
    text-transform: uppercase;
    text-align: end;
    width: 80%;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border-radius: 5px;
    color: yellow;
}
.meiuca,.tema {
    font: normal normal 1em verdana, arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    border: 1px solid rgba(13, 209, 243, 0.89);
    padding: 2%;
    text-align: justify;
}
p{
    font: normal 1em verdana, arial, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 120%;
}
h1, h2{
    font:normal bold 1em verdana;
}
h3{
    font: normal bold 1em verdana;
    line-height: 200%;

}
