*{  margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color:black;
}    
body{
    background-image: url(background.jpg);
    background-repeat:repeat-y;
}
h1{
    font: italic normal 3em arial, verdana, sans-serif;
}
h2{
    font: normal lighter 1em arial, verdana, sans-serif;
    text-align: justify;
    margin: 25px 30px 10px 20px;
    line-height: 0.9;
}
p{
    font: normal normal 1em arial, verdana, sans-serif;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}
.icone-baixar{
    text-align:center;
    margin: 35px 10px ;
}
.icone-baixar:hover {
    transform: scale(1.3);
    transition: .6s;
}
.baixar{
    color:red;
}
.baixar a:visited{
    color:rebeccapurple;
}
.meiuca{
    background-color: rgba(255, 255, 255, 0.87); 
    margin: 1% 10%;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #7e8583;
    padding: 2%;
    text-align: justify;
}
.menu{
    font:normal bolder 1em sans-serif;
    background: rgba(82, 113, 119, 0.89);
    text-transform: uppercase;
    text-align:center;
    width: 80%;
    margin: 1% 10%;
    padding: 2%;
    border-radius: 5px;
}
.menu li{
    display: inline;      
}
.menu li a{
    margin-left: 5%;
}
.menu li a:hover{
    color: white;
}
.programas a{color:yellow;} .processos a{ color:yellow;} .pdf a{color:yellow;} .videos a{color:yellow;} .sql a{ color:yellow
}
